<!DOCTYPE html>
<html>
	<main>
		  <h1>DB AUTO Database</h1>
		  <div class="pages">
			<p><a href="customers">Customers</a></p>
			<p>Displays all the customers currently within the DB AUTO database. DB AUTO management is allowed to delete, edit, and add any customers to the table.</p>
			<p><a href="orders">Orders</a></p>
			<p>Displays all the orders that have been entered or processed within the DB AUTO database. DB AUTO management is allowed to delete, edit, and add any orders to the table.</p>
			<p><a href="cars">Cars</a></p>
			<p>Displays all the cars currently available within the DB AUTO inventory. DB AUTO management is allowed to delete, edit, and add any rows to the table. You can also search cars by typing with the search bar. Any amount of features can be added to each car which is representative of our M:M relationships.</p>
			<p><a href="features">Features</a></p>
			<p>Displays all the features currently available within the DB AUTO inventory. DB AUTO employees are allowed to delete, edit, and add any features to the table. Each feature can be added onto any car.</p>
			<p><a href="tires">Tires</a></p>
			<p>Displays all the tires currently available within the DB AUTO inventory. DB AUTO employees are allowed to delete, edit, and add any tires to the table. ALL CARS COME WITH A STANDARD ISSUE DB AUTO TIRE. These tires are available for the customer if they want to upgrade. The tires entity shares a 1:M relationship with the cars entity, and it's default value is NULL when left empty.</p>
			<p><a href="cars-features">Cars-Features</a></p>
			<p>Represents the intersection table between our cars and features table. Cars and Features can be searched with the serach bar.</p>
		  </div>
	</main>
</html>